<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouxy.dao.IBlogDao">

	<!-- 根据用户名查询博客类别 -->
	<select id="findBlogListByUsername" resultType="Blog" parameterType="java.lang.String">
		select * from tbl_blog_info where username = #{username}
	</select>
	
	
</mapper>